draco/templates/aemet.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>Aemet last observation and average temperatures. Saving the data into orion and including them in CKAN</description>
    <groupId>77765c03-0184-1000-8d9a-a01d0619828b</groupId>
    <name>aemet</name>
    <snippet>
        <processGroups>
            <id>c2769c80-af87-32dd-0000-000000000000</id>
            <parentGroupId>1c1624c3-f8c6-376d-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>018619ad-e035-3376-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>198e5225-65bd-3dad-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>eff5433c-6f2d-36c9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>12ec3239-7ecf-3196-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>bbdaa5f0-36be-3018-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Success</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>7bdb775f-0555-3172-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1a5f2082-0e86-3cf4-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>eff5433c-6f2d-36c9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>195913b6-7a83-3818-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2652ca13-a087-3560-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>79acee07-d120-3be9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>97432557-1ddc-3bb9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2807301f-5f24-3980-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>97432557-1ddc-3bb9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>aba4ab2e-a380-3123-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>29adb6cf-0d27-3167-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>313d010f-16a3-3f16-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>0ae2aff3-45b6-321d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4ac11218-65b6-3bbd-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>396a1df2-11cc-3bf6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>7163e513-96c7-376e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>534cee2e-eb8f-3d3b-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>7163e513-96c7-376e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>79acee07-d120-3be9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>67b92042-ef33-35b0-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>7bdb775f-0555-3172-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>7163e513-96c7-376e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>755cdabc-2aff-35f6-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>e7448ed0-7210-3824-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>198e5225-65bd-3dad-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7c0d55a3-6caa-325a-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>d24e8278-3e95-36bf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>79acee07-d120-3be9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>819d1dc2-c4ae-3e76-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>2634403d-3334-3ee4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>198e5225-65bd-3dad-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a126cb07-196b-3bf3-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>195913b6-7a83-3818-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>313d010f-16a3-3f16-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>aab18c6f-a4a3-37ef-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>0ae2aff3-45b6-321d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>3e9e256b-0721-31fd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b86c2685-383b-3b1c-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>bbdaa5f0-36be-3018-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Success</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>396a1df2-11cc-3bf6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c05278ec-433a-3a96-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>51e18183-ad58-3ce0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>2634403d-3334-3ee4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dbeb5687-d8fd-3c96-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>125452a1-35d2-35bc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>51e18183-ad58-3ce0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>de95859f-b4c8-37d2-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>16189121-ec7a-30c6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>dc99e15e-7a25-3864-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f638a50c-63b0-356a-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>3e9e256b-0721-31fd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>16189121-ec7a-30c6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fd9b7307-6009-3660-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>51e18183-ad58-3ce0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c2769c80-af87-32dd-0000-000000000000</groupId>
                        <id>e7448ed0-7210-3824-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>0ae2aff3-45b6-321d-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1324.4660623337218</x>
                        <y>1679.2601567704057</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>
    <name>idle-timeout</name>
</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>
    <name>max-idle-connections</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>
    <name>disable-http2</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Useragent</key>
<value>
    <name>Useragent</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>
    <name>ignore-response-content</name>
</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
<value>
    <name>form-body-form-name</name>
</value>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>
    <name>set-form-filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>https://opendata.aemet.es/opendata/api/observacion/convencional/datos/estacion/${station_id}?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJraWRqYXZpM0BnbWFpbC5jb20iLCJqdGkiOiIxMTM4ZWZkNi0xYjcyLTQzMDItODM3Zi0yN2JiOTdiMWYwYjAiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYzMTc5NzUzNCwidXNlcklkIjoiMTEzOGVmZDYtMWI3Mi00MzAyLTgzN2YtMjdiYjk3YjFmMGIwIiwicm9sZSI6IiJ9.UH78HQyBJe1MJlYGTDXDztWhrG1hkLX_JxigL6N4pes</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>5 mins</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>5</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>False</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Useragent</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>false</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>5 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>30 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeHTTP_station_last_aemet</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>125452a1-35d2-35bc-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1384.0</x>
                        <y>2080.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>16189121-ec7a-30c6-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>820.4660623337218</x>
                        <y>1903.2601567704057</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.*</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>195913b6-7a83-3818-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1548.4660623337218</x>
                        <y>1383.2601567704057</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>station_datos_url_exist</key>
<value>
    <name>station_datos_url_exist</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to 'match' if all match</value>
                            </entry>
                            <entry>
<key>station_datos_url_exist</key>
<value>${station_datos_url:isEmpty():not()}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>198e5225-65bd-3dad-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>2452.4660623337218</x>
                        <y>1847.2601567704057</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Character Set</key>
<value>
    <name>Input Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Output Character Set</key>
<value>
    <name>Output Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Character Set</key>
<value>ISO-8859-15</value>
                            </entry>
                            <entry>
<key>Output Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertCharacterSet</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertCharacterSet</type>
                </processors>
                <processors>
                    <id>2634403d-3334-3ee4-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>2448.0</x>
                        <y>2088.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[
  {
    "operation": "shift",
    "spec": {
      "*": {
        "idema": "idema",
        "prec": "prec",
        "ubi": "ubi",
        "fint": "fint"
      }
    }
  },
  {
    "operation": "modify-overwrite-beta",
    "spec": {
      // Averages
      "precipitation": "=avg(@(1,prec))",
      "idema": "=firstElement(@(1,idema))",
      "ubi": "=firstElement(@(1,ubi))",
      "fint": "=lastElement(@(1,fint))"
    }
  },
  {
    "operation": "modify-overwrite-beta",
    "spec": {
      "id": "=concat(urn:ngsi-ld:WeatherObserved:AvgPrecipitation:, @(1,idema), -1)",
      "fint_formatted": "=concat(@(1,fint), '.00Z')"
    }
  },
  {
    "operation": "default",
    "spec": {
      "type": "WeatherObserved",
      "description": "Average Precipitation in last 24 hours. Liters per square meter.",
      "@context": ["https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld", "https://smart-data-models.github.io/dataModel.Weather/context.jsonld"]
    }
  },
  {
    "operation": "shift",
    "spec": {
      "id": "id",
      "type": "type",
      "description": {
        "@": "description.value",
        "#Property": "description.type"
      },
      "ubi": {
        "@": "address.value.addressLocality",
        "#ES": "address.value.addressCountry",
        "#PostalAddress": "address.value.type",
        "#Property": "address.type"
      },
      "precipitation": {
        "@": "precipitation.value",
        "#Property": "precipitation.type"
      },
      "fint_formatted": {
        "@": "dateObserved.value.\\@value",
        "#DateTime": "dateObserved.value.\\@type",
        "#Property": "dateObserved.type"
      },
      "idema": {
        "@": "stationCode.value",
        "#Property": "stationCode.type"
      },
      "\\@context": "\\@context"
    }
  },
  {
    "operation": "shift",
    "spec": {
      "@": "element"
    }
  },
  {
    "operation": "shift",
    "spec": {
      "element": "[#1]"
    }
  }
]
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>313d010f-16a3-3f16-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1812.4660623337218</x>
                        <y>1679.2601567704057</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>station_datos_url</key>
<value>
    <name>station_datos_url</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>station_datos_url</key>
<value>$.datos</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>396a1df2-11cc-3bf6-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1560.0</x>
                        <y>3280.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-ngsi-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>2.1.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>organizationName</key>
<value>
    <name>organizationName</name>
</value>
                            </entry>
                            <entry>
<key>organizationType</key>
<value>
    <name>organizationType</name>
</value>
                            </entry>
                            <entry>
<key>packageDescription</key>
<value>
    <name>packageDescription</name>
</value>
                            </entry>
                            <entry>
<key>packageName</key>
<value>
    <name>packageName</name>
</value>
                            </entry>
                            <entry>
<key>contactPoint</key>
<value>
    <name>contactPoint</name>
</value>
                            </entry>
                            <entry>
<key>contactName</key>
<value>
    <name>contactName</name>
</value>
                            </entry>
                            <entry>
<key>contactEmail</key>
<value>
    <name>contactEmail</name>
</value>
                            </entry>
                            <entry>
<key>keywords</key>
<value>
    <name>keywords</name>
</value>
                            </entry>
                            <entry>
<key>publisherURL</key>
<value>
    <name>publisherURL</name>
</value>
                            </entry>
                            <entry>
<key>spatialURI</key>
<value>
    <name>spatialURI</name>
</value>
                            </entry>
                            <entry>
<key>spatialCoverage</key>
<value>
    <name>spatialCoverage</name>
</value>
                            </entry>
                            <entry>
<key>temporalStart</key>
<value>
    <name>temporalStart</name>
</value>
                            </entry>
                            <entry>
<key>temporalEnd</key>
<value>
    <name>temporalEnd</name>
</value>
                            </entry>
                            <entry>
<key>themes</key>
<value>
    <name>themes</name>
</value>
                            </entry>
                            <entry>
<key>version</key>
<value>
    <name>version</name>
</value>
                            </entry>
                            <entry>
<key>landingPage</key>
<value>
    <name>landingPage</name>
</value>
                            </entry>
                            <entry>
<key>visibility</key>
<value>
    <name>visibility</name>
</value>
                            </entry>
                            <entry>
<key>datasetRights</key>
<value>
    <name>datasetRights</name>
</value>
                            </entry>
                            <entry>
<key>accessURL</key>
<value>
    <name>accessURL</name>
</value>
                            </entry>
                            <entry>
<key>availability</key>
<value>
    <name>availability</name>
</value>
                            </entry>
                            <entry>
<key>resourceDescription</key>
<value>
    <name>resourceDescription</name>
</value>
                            </entry>
                            <entry>
<key>format</key>
<value>
    <name>format</name>
</value>
                            </entry>
                            <entry>
<key>mimetype</key>
<value>
    <name>mimetype</name>
</value>
                            </entry>
                            <entry>
<key>license</key>
<value>
    <name>license</name>
</value>
                            </entry>
                            <entry>
<key>licenseType</key>
<value>
    <name>licenseType</name>
</value>
                            </entry>
                            <entry>
<key>downloadURL</key>
<value>
    <name>downloadURL</name>
</value>
                            </entry>
                            <entry>
<key>byteSize</key>
<value>
    <name>byteSize</name>
</value>
                            </entry>
                            <entry>
<key>resourceName</key>
<value>
    <name>resourceName</name>
</value>
                            </entry>
                            <entry>
<key>resourceRights</key>
<value>
    <name>resourceRights</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>organizationName</key>
<value>METEOROLOGIA</value>
                            </entry>
                            <entry>
<key>organizationType</key>
<value>http://purl.org/adms/publishertype/Academia-ScientificOrganisation</value>
                            </entry>
                            <entry>
<key>packageDescription</key>
<value>Climatologa de la estacin de ${station_name_address} siguiendo el modelo WeatherObserved de NGSI-LD. Informacin elaborada utilizando, entre otras, la obtenida de la Agencia Estatal de Meteorologa.</value>
                            </entry>
                            <entry>
<key>packageName</key>
<value>${station_name_address}_${station_id}</value>
                            </entry>
                            <entry>
<key>contactPoint</key>
<value>https://yoda.dit.upm.es/</value>
                            </entry>
                            <entry>
<key>contactName</key>
<value>yoda</value>
                            </entry>
                            <entry>
<key>contactEmail</key>
                            </entry>
                            <entry>
<key>keywords</key>
<value>tiempo</value>
                            </entry>
                            <entry>
<key>publisherURL</key>
<value>https://yoda.dit.upm.es/</value>
                            </entry>
                            <entry>
<key>spatialURI</key>
<value>https://publications.europa.eu/resource/authority/country/ESP</value>
                            </entry>
                            <entry>
<key>spatialCoverage</key>
                            </entry>
                            <entry>
<key>temporalStart</key>
<value>2022-01-01T00:00:00Z</value>
                            </entry>
                            <entry>
<key>temporalEnd</key>
<value>2032-01-01T00:00:00Z</value>
                            </entry>
                            <entry>
<key>themes</key>
<value>http://publications.europa.eu/resource/authority/data-theme/ENVI</value>
                            </entry>
                            <entry>
<key>version</key>
<value>1.0</value>
                            </entry>
                            <entry>
<key>landingPage</key>
<value>https://yoda.dit.upm.es/</value>
                            </entry>
                            <entry>
<key>visibility</key>
<value>public</value>
                            </entry>
                            <entry>
<key>datasetRights</key>
<value>http://publications.europa.eu/resource/authority/access-right/PUBLIC</value>
                            </entry>
                            <entry>
<key>accessURL</key>
<value>https://broker-yoda.dit.upm.es/ngsi-ld/v1/entities/${entity_id}</value>
                            </entry>
                            <entry>
<key>availability</key>
<value>http://data.europa.eu/r5r/availability/available</value>
                            </entry>
                            <entry>
<key>resourceDescription</key>
<value>Observacin de climatologa de ${station_name_address}</value>
                            </entry>
                            <entry>
<key>format</key>
<value>JSON_LD</value>
                            </entry>
                            <entry>
<key>mimetype</key>
<value>application/ld+json</value>
                            </entry>
                            <entry>
<key>license</key>
<value>http://publications.europa.eu/resource/authority/licence/CC_BY_4_0</value>
                            </entry>
                            <entry>
<key>licenseType</key>
<value>http://purl.org/adms/licencetype/PublicDomain</value>
                            </entry>
                            <entry>
<key>downloadURL</key>
<value>https://broker-yoda.dit.upm.es/ngsi-ld/v1/entities/${entity_id}</value>
                            </entry>
                            <entry>
<key>byteSize</key>
<value>1313</value>
                            </entry>
                            <entry>
<key>resourceName</key>
<value>${entity_id}</value>
                            </entry>
                            <entry>
<key>resourceRights</key>
<value>http://publications.europa.eu/resource/authority/access-right/PUBLIC</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateCkanMetadataAttributes</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.ngsi.UpdateCkanMetadataAttributes</type>
                </processors>
                <processors>
                    <id>3e9e256b-0721-31fd-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>820.4660623337218</x>
                        <y>1679.2601567704057</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>station_id</key>
<value>
    <name>station_id</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>station_id</key>
<value>$.indicativo</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>51e18183-ad58-3ce0-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1864.0</x>
                        <y>2088.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>
    <name>idle-timeout</name>
</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>
    <name>max-idle-connections</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>
    <name>disable-http2</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Useragent</key>
<value>
    <name>Useragent</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>
    <name>ignore-response-content</name>
</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
<value>
    <name>form-body-form-name</name>
</value>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>
    <name>set-form-filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>POST</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>http://orion:1026/ngsi-ld/v1/entityOperations/upsert</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>5 mins</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>5</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>False</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Useragent</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>application/ld+json</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>false</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeHTTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>7163e513-96c7-376e-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1088.0</x>
                        <y>3288.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>temperature</key>
<value>
    <name>temperature</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to 'match' if all match</value>
                            </entry>
                            <entry>
<key>temperature</key>
<value>${temperature:isEmpty():not()}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>79acee07-d120-3be9-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>600.0</x>
                        <y>3280.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>entity_id</key>
<value>
    <name>entity_id</name>
</value>
                            </entry>
                            <entry>
<key>station_id</key>
<value>
    <name>station_id</name>
</value>
                            </entry>
                            <entry>
<key>station_name_address</key>
<value>
    <name>station_name_address</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to 'match' if all match</value>
                            </entry>
                            <entry>
<key>entity_id</key>
<value>${entity_id:isEmpty():not()}</value>
                            </entry>
                            <entry>
<key>station_id</key>
<value>${station_id:isEmpty():not()}</value>
                            </entry>
                            <entry>
<key>station_name_address</key>
<value>${station_name_address:isEmpty():not()}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>7bdb775f-0555-3172-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1568.0</x>
                        <y>3088.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-ngsi-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>2.1.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>organizationName</key>
<value>
    <name>organizationName</name>
</value>
                            </entry>
                            <entry>
<key>organizationType</key>
<value>
    <name>organizationType</name>
</value>
                            </entry>
                            <entry>
<key>packageDescription</key>
<value>
    <name>packageDescription</name>
</value>
                            </entry>
                            <entry>
<key>packageName</key>
<value>
    <name>packageName</name>
</value>
                            </entry>
                            <entry>
<key>contactPoint</key>
<value>
    <name>contactPoint</name>
</value>
                            </entry>
                            <entry>
<key>contactName</key>
<value>
    <name>contactName</name>
</value>
                            </entry>
                            <entry>
<key>contactEmail</key>
<value>
    <name>contactEmail</name>
</value>
                            </entry>
                            <entry>
<key>keywords</key>
<value>
    <name>keywords</name>
</value>
                            </entry>
                            <entry>
<key>publisherURL</key>
<value>
    <name>publisherURL</name>
</value>
                            </entry>
                            <entry>
<key>spatialURI</key>
<value>
    <name>spatialURI</name>
</value>
                            </entry>
                            <entry>
<key>spatialCoverage</key>
<value>
    <name>spatialCoverage</name>
</value>
                            </entry>
                            <entry>
<key>temporalStart</key>
<value>
    <name>temporalStart</name>
</value>
                            </entry>
                            <entry>
<key>temporalEnd</key>
<value>
    <name>temporalEnd</name>
</value>
                            </entry>
                            <entry>
<key>themes</key>
<value>
    <name>themes</name>
</value>
                            </entry>
                            <entry>
<key>version</key>
<value>
    <name>version</name>
</value>
                            </entry>
                            <entry>
<key>landingPage</key>
<value>
    <name>landingPage</name>
</value>
                            </entry>
                            <entry>
<key>visibility</key>
<value>
    <name>visibility</name>
</value>
                            </entry>
                            <entry>
<key>datasetRights</key>
<value>
    <name>datasetRights</name>
</value>
                            </entry>
                            <entry>
<key>accessURL</key>
<value>
    <name>accessURL</name>
</value>
                            </entry>
                            <entry>
<key>availability</key>
<value>
    <name>availability</name>
</value>
                            </entry>
                            <entry>
<key>resourceDescription</key>
<value>
    <name>resourceDescription</name>
</value>
                            </entry>
                            <entry>
<key>format</key>
<value>
    <name>format</name>
</value>
                            </entry>
                            <entry>
<key>mimetype</key>
<value>
    <name>mimetype</name>
</value>
                            </entry>
                            <entry>
<key>license</key>
<value>
    <name>license</name>
</value>
                            </entry>
                            <entry>
<key>licenseType</key>
<value>
    <name>licenseType</name>
</value>
                            </entry>
                            <entry>
<key>downloadURL</key>
<value>
    <name>downloadURL</name>
</value>
                            </entry>
                            <entry>
<key>byteSize</key>
<value>
    <name>byteSize</name>
</value>
                            </entry>
                            <entry>
<key>resourceName</key>
<value>
    <name>resourceName</name>
</value>
                            </entry>
                            <entry>
<key>resourceRights</key>
<value>
    <name>resourceRights</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>organizationName</key>
<value>METEOROLOGIA</value>
                            </entry>
                            <entry>
<key>organizationType</key>
<value>http://purl.org/adms/publishertype/Academia-ScientificOrganisation</value>
                            </entry>
                            <entry>
<key>packageDescription</key>
<value>Precipitaciones de la estacin de ${station_name_address} siguiendo el modelo WeatherObserved de NGSI-LD. Informacin elaborada utilizando, entre otras, la obtenida de la Agencia Estatal de Meteorologa.</value>
                            </entry>
                            <entry>
<key>packageName</key>
<value>${station_name_address}_${station_id}_precipitations</value>
                            </entry>
                            <entry>
<key>contactPoint</key>
<value>https://yoda.dit.upm.es/</value>
                            </entry>
                            <entry>
<key>contactName</key>
<value>yoda</value>
                            </entry>
                            <entry>
<key>contactEmail</key>
                            </entry>
                            <entry>
<key>keywords</key>
<value>tiempo</value>
                            </entry>
                            <entry>
<key>publisherURL</key>
<value>https://yoda.dit.upm.es/</value>
                            </entry>
                            <entry>
<key>spatialURI</key>
<value>https://publications.europa.eu/resource/authority/country/ESP</value>
                            </entry>
                            <entry>
<key>spatialCoverage</key>
                            </entry>
                            <entry>
<key>temporalStart</key>
<value>2022-01-01T00:00:00Z</value>
                            </entry>
                            <entry>
<key>temporalEnd</key>
<value>2032-01-01T00:00:00Z</value>
                            </entry>
                            <entry>
<key>themes</key>
<value>http://publications.europa.eu/resource/authority/data-theme/ENVI</value>
                            </entry>
                            <entry>
<key>version</key>
<value>1.0</value>
                            </entry>
                            <entry>
<key>landingPage</key>
<value>https://yoda.dit.upm.es/</value>
                            </entry>
                            <entry>
<key>visibility</key>
<value>public</value>
                            </entry>
                            <entry>
<key>datasetRights</key>
<value>http://publications.europa.eu/resource/authority/access-right/PUBLIC</value>
                            </entry>
                            <entry>
<key>accessURL</key>
<value>https://broker-yoda.dit.upm.es/ngsi-ld/v1/entities/${entity_id}</value>
                            </entry>
                            <entry>
<key>availability</key>
<value>http://data.europa.eu/r5r/availability/available</value>
                            </entry>
                            <entry>
<key>resourceDescription</key>
<value>Observacin de precipitaciones de ${station_name_address}</value>
                            </entry>
                            <entry>
<key>format</key>
<value>JSON_LD</value>
                            </entry>
                            <entry>
<key>mimetype</key>
<value>application/ld+json</value>
                            </entry>
                            <entry>
<key>license</key>
<value>http://publications.europa.eu/resource/authority/licence/CC_BY_4_0</value>
                            </entry>
                            <entry>
<key>licenseType</key>
<value>http://purl.org/adms/licencetype/PublicDomain</value>
                            </entry>
                            <entry>
<key>downloadURL</key>
<value>https://broker-yoda.dit.upm.es/ngsi-ld/v1/entities/${entity_id}</value>
                            </entry>
                            <entry>
<key>byteSize</key>
<value>1313</value>
                            </entry>
                            <entry>
<key>resourceName</key>
<value>${entity_id}</value>
                            </entry>
                            <entry>
<key>resourceRights</key>
<value>http://publications.europa.eu/resource/authority/access-right/PUBLIC</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateCkanMetadataAttributes</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.ngsi.UpdateCkanMetadataAttributes</type>
                </processors>
                <processors>
                    <id>97432557-1ddc-3bb9-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>616.0</x>
                        <y>3552.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>entity_id</key>
<value>
    <name>entity_id</name>
</value>
                            </entry>
                            <entry>
<key>station_id</key>
<value>
    <name>station_id</name>
</value>
                            </entry>
                            <entry>
<key>station_name_address</key>
<value>
    <name>station_name_address</name>
</value>
                            </entry>
                            <entry>
<key>temperature</key>
<value>
    <name>temperature</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>json</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>entity_id</key>
<value>$.data[0].id</value>
                            </entry>
                            <entry>
<key>station_id</key>
<value>$.data[0].stationCode.value</value>
                            </entry>
                            <entry>
<key>station_name_address</key>
<value>$.data[0]["https://smartdatamodels.org/address"].value.addressLocality</value>
                            </entry>
                            <entry>
<key>temperature</key>
<value>$.data[0]["https://smartdatamodels.org/dataModel.Weather/temperature"].value</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>aba4ab2e-a380-3123-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1584.0</x>
                        <y>3552.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Base Path</key>
<value>
    <name>Base Path</name>
</value>
                            </entry>
                            <entry>
<key>Listening Port</key>
<value>
    <name>Listening Port</name>
</value>
                            </entry>
                            <entry>
<key>health-check-port</key>
<value>
    <name>health-check-port</name>
</value>
                            </entry>
                            <entry>
<key>Max Data to Receive per Second</key>
<value>
    <name>Max Data to Receive per Second</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>client-authentication</key>
<value>
    <dependencies>
        <propertyName>SSL Context Service</propertyName>
    </dependencies>
    <name>client-authentication</name>
</value>
                            </entry>
                            <entry>
<key>Authorized DN Pattern</key>
<value>
    <name>Authorized DN Pattern</name>
</value>
                            </entry>
                            <entry>
<key>authorized-issuer-dn-pattern</key>
<value>
    <name>authorized-issuer-dn-pattern</name>
</value>
                            </entry>
                            <entry>
<key>Max Unconfirmed Flowfile Time</key>
<value>
    <name>Max Unconfirmed Flowfile Time</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Headers to receive as Attributes (Regex)</key>
<value>
    <name>HTTP Headers to receive as Attributes (Regex)</name>
</value>
                            </entry>
                            <entry>
<key>Return Code</key>
<value>
    <name>Return Code</name>
</value>
                            </entry>
                            <entry>
<key>multipart-request-max-size</key>
<value>
    <name>multipart-request-max-size</name>
</value>
                            </entry>
                            <entry>
<key>multipart-read-buffer-size</key>
<value>
    <name>multipart-read-buffer-size</name>
</value>
                            </entry>
                            <entry>
<key>max-thread-pool-size</key>
<value>
    <name>max-thread-pool-size</name>
</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <dependencies>
        <propertyName>record-reader</propertyName>
    </dependencies>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Base Path</key>
<value>ld/notify/weatherObserved</value>
                            </entry>
                            <entry>
<key>Listening Port</key>
<value>5050</value>
                            </entry>
                            <entry>
<key>health-check-port</key>
                            </entry>
                            <entry>
<key>Max Data to Receive per Second</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>client-authentication</key>
<value>AUTO</value>
                            </entry>
                            <entry>
<key>Authorized DN Pattern</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>authorized-issuer-dn-pattern</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Max Unconfirmed Flowfile Time</key>
<value>60 secs</value>
                            </entry>
                            <entry>
<key>HTTP Headers to receive as Attributes (Regex)</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Return Code</key>
<value>200</value>
                            </entry>
                            <entry>
<key>multipart-request-max-size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>multipart-read-buffer-size</key>
<value>512 KB</value>
                            </entry>
                            <entry>
<key>max-thread-pool-size</key>
<value>200</value>
                            </entry>
                            <entry>
<key>record-reader</key>
                            </entry>
                            <entry>
<key>record-writer</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ListenHTTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ListenHTTP</type>
                </processors>
                <processors>
                    <id>bbdaa5f0-36be-3018-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>2256.0</x>
                        <y>3272.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-ngsi-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>2.1.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>CKAN Host</key>
<value>
    <name>CKAN Host</name>
</value>
                            </entry>
                            <entry>
<key>CKAN Port</key>
<value>
    <name>CKAN Port</name>
</value>
                            </entry>
                            <entry>
<key>CKAN Viewer</key>
<value>
    <name>CKAN Viewer</name>
</value>
                            </entry>
                            <entry>
<key>CKAN API Key</key>
<value>
    <name>CKAN API Key</name>
</value>
                            </entry>
                            <entry>
<key>ORION URL</key>
<value>
    <name>ORION URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL</key>
<value>
    <name>SSL</name>
</value>
                            </entry>
                            <entry>
<key>ngsi-version</key>
<value>
    <name>ngsi-version</name>
</value>
                            </entry>
                            <entry>
<key>data-model</key>
<value>
    <name>data-model</name>
</value>
                            </entry>
                            <entry>
<key>attr-persistence</key>
<value>
    <name>attr-persistence</name>
</value>
                            </entry>
                            <entry>
<key>default-service</key>
<value>
    <name>default-service</name>
</value>
                            </entry>
                            <entry>
<key>default-service-path</key>
<value>
    <name>default-service-path</name>
</value>
                            </entry>
                            <entry>
<key>create-datastore</key>
<value>
    <name>create-datastore</name>
</value>
                            </entry>
                            <entry>
<key>enable-encoding</key>
<value>
    <name>enable-encoding</name>
</value>
                            </entry>
                            <entry>
<key>enable-lowercase</key>
<value>
    <name>enable-lowercase</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Max Connections</key>
<value>
    <name>Max Connections</name>
</value>
                            </entry>
                            <entry>
<key>Max Connections per Route</key>
<value>
    <name>Max Connections per Route</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>CKAN Host</key>
<value>ckan</value>
                            </entry>
                            <entry>
<key>CKAN Port</key>
<value>80</value>
                            </entry>
                            <entry>
<key>CKAN Viewer</key>
<value>recline_view</value>
                            </entry>
                            <entry>
<key>CKAN API Key</key>
<value>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOiJzczQyVGZEVC14Ny1fcDlpY0xKNjN4ckZ6a09TbEQ2VUFHZkp3RFlUZjR1ZkJwWFphMHhjeTE5dFNNNzZ2X0NXaXpnN1IzdnF1dW9CbHVKViIsImlhdCI6MTY2ODQ2NTg5Mn0.xsyib-0xWjUTF8J7d7giGT6L5bOMsztGaBnkazA-y0Y</value>
                            </entry>
                            <entry>
<key>ORION URL</key>
<value> http://orion:1026</value>
                            </entry>
                            <entry>
<key>SSL</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ngsi-version</key>
<value>ld</value>
                            </entry>
                            <entry>
<key>data-model</key>
<value>db-by-entity</value>
                            </entry>
                            <entry>
<key>attr-persistence</key>
<value>column</value>
                            </entry>
                            <entry>
<key>default-service</key>
<value>test</value>
                            </entry>
                            <entry>
<key>default-service-path</key>
<value>/path</value>
                            </entry>
                            <entry>
<key>create-datastore</key>
<value>false</value>
                            </entry>
                            <entry>
<key>enable-encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>enable-lowercase</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Max Connections</key>
<value>500</value>
                            </entry>
                            <entry>
<key>Max Connections per Route</key>
<value>100</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>NGSIToCKAN</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.ngsi.NGSIToCKAN</type>
                </processors>
                <processors>
                    <id>d24e8278-3e95-36bf-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>608.0</x>
                        <y>2968.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>dc99e15e-7a25-3864-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>292.4660623337218</x>
                        <y>1903.2601567704057</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>
    <name>mime-type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>[
    {
        "latitud": "402443N",
        "provincia": "MADRID",
        "altitud": "667",
        "indicativo": "3195",
        "nombre": "MADRID, RETIRO",
        "indsinop": "08222",
        "longitud": "034041W"
    },
    {
      "latitud" : "404735N",
      "provincia" : "MADRID",
      "altitud" : "1894",
      "indicativo" : "2462",
      "nombre" : "PUERTO DE NAVACERRADA",
      "indsinop" : "08215",
      "longitud" : "040038W"
    },
    {
      "latitud" : "400402N",
      "provincia" : "MADRID",
      "altitud" : "540",
      "indicativo" : "3100B",
      "nombre" : "ARANJUEZ",
      "indsinop" : "08229",
      "longitud" : "033246W"
    },
    {
      "latitud" : "402800N",
      "provincia" : "MADRID",
      "altitud" : "609",
      "indicativo" : "3129",
      "nombre" : "MADRID AEROPUERTO",
      "indsinop" : "08221",
      "longitud" : "033320W"
    },
    {
      "latitud" : "410808N",
      "provincia" : "MADRID",
      "altitud" : "1450",
      "indicativo" : "3111D",
      "nombre" : "SOMOSIERRA",
      "indsinop" : "08145",
      "longitud" : "033449W"
    },
    {
        "latitud": "372500N",
        "provincia": "SEVILLA",
        "altitud": "34",
        "indicativo": "5783",
        "nombre": "SEVILLA AEROPUERTO",
        "indsinop": "08391",
        "longitud": "055245W"
    },
    {
      "latitud" : "375535N",
      "provincia" : "SEVILLA",
      "altitud" : "550",
      "indicativo" : "5704B",
      "nombre" : "CAZALLA DE LA SIERRA",
      "indsinop" : "08392",
      "longitud" : "054611W"
    }, {
      "latitud" : "373058N",
      "provincia" : "SEVILLA",
      "altitud" : "130",
      "indicativo" : "5641X",
      "nombre" : "CIJA",
      "indsinop" : "08395",
      "longitud" : "050506W"
    },
    {
        "latitud": "413715N",
        "provincia": "ZARAGOZA",
        "altitud": "254",
        "indicativo": "9434P",
        "nombre": "ZARAGOZA, VALDESPARTERA",
        "indsinop": "08159",
        "longitud": "005606W"
    },
    {
      "latitud" : "411952N",
      "provincia" : "ZARAGOZA",
      "altitud" : "582",
      "indicativo" : "9394X",
      "nombre" : "CALATAYUD",
      "indsinop" : "08156",
      "longitud" : "013843W"
    }, {
      "latitud" : "410652N",
      "provincia" : "ZARAGOZA",
      "altitud" : "779",
      "indicativo" : "9390",
      "nombre" : "DAROCA",
      "indsinop" : "08157",
      "longitud" : "012436W"
    },{
      "latitud" : "413938N",
      "provincia" : "ZARAGOZA",
      "altitud" : "249",
      "indicativo" : "9434",
      "nombre" : "ZARAGOZA, AEROPUERTO",
      "indsinop" : "08160",
      "longitud" : "010015W"
    },
    {
        "latitud": "364304N",
        "provincia": "MALAGA",
        "altitud": "54",
        "indicativo": "6156X",
        "nombre": "MLAGA, CENTRO METEOROLGICO",
        "indsinop": "08481",
        "longitud": "042854W"
    },
    {
        "latitud": "393339N",
        "provincia": "ILLES BALEARS",
        "altitud": "8",
        "indicativo": "B278",
        "nombre": "PALMA DE MALLORCA, AEROPUERTO",
        "indsinop": "08306",
        "longitud": "024412E"
    },
    {
        "latitud": "275504N",
        "provincia": "LAS PALMAS",
        "altitud": "32",
        "indicativo": "C649I",
        "nombre": "GRAN CANARIA AEROPUERTO",
        "indsinop": "60030",
        "longitud": "152343W"
    },
    {
      "latitud" : "285707N",
      "provincia" : "LAS PALMAS",
      "altitud" : "14",
      "indicativo" : "C029O",
      "nombre" : "LANZAROTE AEROPUERTO",
      "indsinop" : "60040",
      "longitud" : "133601W"
    },
    {
        "latitud": "431753N",
        "provincia": "BIZKAIA",
        "altitud": "42",
        "indicativo": "1082",
        "nombre": "BILBAO AEROPUERTO",
        "indsinop": "08025",
        "longitud": "025423W"
    },
    {
        "latitud": "382221N",
        "provincia": "ALICANTE",
        "altitud": "81",
        "indicativo": "8025",
        "nombre": "ALACANT/ALICANTE",
        "indsinop": "08359",
        "longitud": "002939W"
    },
    {
      "latitud" : "381658N",
      "provincia" : "ALICANTE",
      "altitud" : "43",
      "indicativo" : "8019",
      "nombre" : "ALICANTE-ELCHE AEROPUERTO",
      "indsinop" : "08360",
      "longitud" : "003415W"
    },
    {
        "latitud": "375056N",
        "provincia": "CORDOBA",
        "altitud": "90",
        "indicativo": "5402",
        "nombre": "CRDOBA AEROPUERTO",
        "indsinop": "08410",
        "longitud": "045048W"
    },
    {
        "latitud": "413827N",
        "provincia": "VALLADOLID",
        "altitud": "735",
        "indicativo": "2422",
        "nombre": "VALLADOLID",
        "indsinop": "08141",
        "longitud": "044516W"
    },
    {
        "latitud": "421419N",
        "provincia": "PONTEVEDRA",
        "altitud": "261",
        "indicativo": "1495",
        "nombre": "VIGO AEROPUERTO",
        "indsinop": "08045",
        "longitud": "083726W"
    },
    {
        "latitud": "403749N",
        "provincia": "GUADALAJARA",
        "altitud": "721",
        "indicativo": "3168D",
        "nombre": "GUADALAJARA",
        "indsinop": "08226",
        "longitud": "030900W"
    },
    {
      "latitud" : "373604N",
      "provincia" : "MURCIA",
      "altitud" : "17",
      "indicativo" : "7012C",
      "nombre" : "CARTAGENA",
      "indsinop" : "08434",
      "longitud" : "005916W"
    },
    {
      "latitud" : "373917N",
      "provincia" : "MURCIA",
      "altitud" : "312",
      "indicativo" : "7209",
      "nombre" : "LORCA",
      "indsinop" : "08426",
      "longitud" : "014114W"
    },
    {
      "latitud" : "380007N",
      "provincia" : "MURCIA",
      "altitud" : "61",
      "indicativo" : "7178I",
      "nombre" : "MURCIA",
      "indsinop" : "08430",
      "longitud" : "011015W"
    },
    {
      "latitud" : "413515N",
      "provincia" : "BARCELONA",
      "altitud" : "74",
      "indicativo" : "0252D",
      "nombre" : "ARENYS DE MAR",
      "indsinop" : "08186",
      "longitud" : "023224E"
    }, {
      "latitud" : "411734N",
      "provincia" : "BARCELONA",
      "altitud" : "4",
      "indicativo" : "0076",
      "nombre" : "BARCELONA AEROPUERTO",
      "indsinop" : "08181",
      "longitud" : "020412E"
    },
    {
      "latitud" : "414312N",
      "provincia" : "BARCELONA",
      "altitud" : "291",
      "indicativo" : "0149X",
      "nombre" : "MANRESA",
      "indsinop" : "08174",
      "longitud" : "015025E"
    },
    {
      "latitud" : "415442N",
      "provincia" : "GIRONA",
      "altitud" : "143",
      "indicativo" : "0367",
      "nombre" : "GIRONA AEROPUERTO",
      "indsinop" : "08184",
      "longitud" : "024548E"
    }, {
      "latitud" : "420616N",
      "provincia" : "GIRONA",
      "altitud" : "157",
      "indicativo" : "0372C",
      "nombre" : "PORQUERES",
      "indsinop" : "08120",
      "longitud" : "024549E"
    }, {
      "latitud" : "421129N",
      "provincia" : "GIRONA",
      "altitud" : "675",
      "indicativo" : "0324A",
      "nombre" : "RIPOLL",
      "indsinop" : "08118",
      "longitud" : "021146E"
    }, {
      "latitud" : "410842N",
      "provincia" : "TARRAGONA",
      "altitud" : "71",
      "indicativo" : "0016A",
      "nombre" : "REUS AEROPUERTO",
      "indsinop" : "08175",
      "longitud" : "010949E"
    },
    {
      "latitud" : "431234N",
      "provincia" : "GIPUZKOA",
      "altitud" : "119",
      "indicativo" : "1050J",
      "nombre" : "ELGOIBAR",
      "indsinop" : "08036",
      "longitud" : "022448W"
    },
    {
      "latitud" : "432125N",
      "provincia" : "GIPUZKOA",
      "altitud" : "4",
      "indicativo" : "1014A",
      "nombre" : "SAN SEBASTIN AEROPUERTO",
      "indsinop" : "08029",
      "longitud" : "014732W"
    },
    {
      "latitud" : "423350N",
      "provincia" : "LEON",
      "altitud" : "534",
      "indicativo" : "1549",
      "nombre" : "PONFERRADA",
      "indsinop" : "08053",
      "longitud" : "063600W"
    }, {
      "latitud" : "430641N",
      "provincia" : "LUGO",
      "altitud" : "445",
      "indicativo" : "1505",
      "nombre" : "LUGO AEROPUERTO",
      "indsinop" : "08008",
      "longitud" : "072727W"
    },
    {
      "latitud" : "421931N",
      "provincia" : "OURENSE",
      "altitud" : "143",
      "indicativo" : "1690A",
      "nombre" : "OURENSE",
      "indsinop" : "08048",
      "longitud" : "075135W"
    }, {
      "latitud" : "420445N",
      "provincia" : "OURENSE",
      "altitud" : "616",
      "indicativo" : "1735X",
      "nombre" : "XINZO DE LIMIA",
      "indsinop" : "08050",
      "longitud" : "074401W"
    },
    {
      "latitud" : "405734N",
      "provincia" : "SALAMANCA",
      "altitud" : "790",
      "indicativo" : "2867",
      "nombre" : "SALAMANCA AEROPUERTO",
      "indsinop" : "08202",
      "longitud" : "052954W"
    },
    {
      "latitud" : "392906N",
      "provincia" : "VALENCIA",
      "altitud" : "56",
      "indicativo" : "8414A",
      "nombre" : "VALENCIA AEROPUERTO",
      "indsinop" : "08284",
      "longitud" : "002829W"
    },
    {
      "latitud" : "392850N",
      "provincia" : "VALENCIA",
      "altitud" : "11",
      "indicativo" : "8416Y",
      "nombre" : "VALNCIA, VIVEROS",
      "indsinop" : "08285",
      "longitud" : "002159W"
    },
    {
      "latitud" : "390006N",
      "provincia" : "VALENCIA",
      "altitud" : "88",
      "indicativo" : "8293X",
      "nombre" : "XTIVA",
      "indsinop" : "08290",
      "longitud" : "003125W"
    },
    {
      "latitud" : "393432N",
      "provincia" : "VALENCIA",
      "altitud" : "758",
      "indicativo" : "8309X",
      "nombre" : "UTIEL",
      "indsinop" : "08281",
      "longitud" : "011441W"
    },
    {
      "latitud" : "420039N",
      "provincia" : "ZAMORA",
      "altitud" : "715",
      "indicativo" : "2755X",
      "nombre" : "BENAVENTE",
      "indsinop" : "08056",
      "longitud" : "054000W"
    },
    {
      "latitud" : "413056N",
      "provincia" : "ZAMORA",
      "altitud" : "656",
      "indicativo" : "2614",
      "nombre" : "ZAMORA",
      "indsinop" : "08130",
      "longitud" : "054407W"
    },
    {
      "latitud" : "415629N",
      "provincia" : "ZAMORA",
      "altitud" : "850",
      "indicativo" : "2775X",
      "nombre" : "VILLARDECIERVOS",
      "indsinop" : "08125",
      "longitud" : "061647W"
    },
    {
      "latitud" : "402102N",
      "provincia" : "TERUEL",
      "altitud" : "900",
      "indicativo" : "8368U",
      "nombre" : "TERUEL",
      "indsinop" : "08235",
      "longitud" : "010727W"
    },
    {
      "latitud" : "410329N",
      "provincia" : "TERUEL",
      "altitud" : "334",
      "indicativo" : "9573X",
      "nombre" : "ALCAIZ",
      "indsinop" : "08164",
      "longitud" : "000830W"
    },
    {
      "latitud" : "432157N",
      "provincia" : "A CORUA",
      "altitud" : "58",
      "indicativo" : "1387",
      "nombre" : "A CORUA",
      "indsinop" : "08001",
      "longitud" : "082517W"
    },
    {
      "latitud" : "431825N",
      "provincia" : "A CORUA",
      "altitud" : "98",
      "indicativo" : "1387E",
      "nombre" : "A CORUA AEROPUERTO",
      "indsinop" : "08002",
      "longitud" : "082219W"
    },
    {
      "latitud" : "434710N",
      "provincia" : "A CORUA",
      "altitud" : "90",
      "indicativo" : "1351",
      "nombre" : "ESTACA DE BARES",
      "indsinop" : "08004",
      "longitud" : "074106W"
    },
    {
      "latitud" : "371123N",
      "provincia" : "GRANADA",
      "altitud" : "567",
      "indicativo" : "5530E",
      "nombre" : "GRANADA AEROPUERTO",
      "indsinop" : "08419",
      "longitud" : "034722W"
    },
    {
      "latitud" : "374639N",
      "provincia" : "JAEN",
      "altitud" : "580",
      "indicativo" : "5270B",
      "nombre" : "JAN",
      "indsinop" : "08417",
      "longitud" : "034832W"
    },
    {
      "latitud" : "382040N",
      "provincia" : "JAEN",
      "altitud" : "770",
      "indicativo" : "5246",
      "nombre" : "SANTA ELENA",
      "indsinop" : "08350",
      "longitud" : "033207W"
    },
    {
      "latitud" : "392817N",
      "provincia" : "CACERES",
      "altitud" : "394",
      "indicativo" : "3469A",
      "nombre" : "CCERES",
      "indsinop" : "08261",
      "longitud" : "062020W"
    },
    {
      "latitud" : "400235N",
      "provincia" : "CACERES",
      "altitud" : "415",
      "indicativo" : "3519X",
      "nombre" : "PLASENCIA",
      "indsinop" : "08252",
      "longitud" : "060509W"
    },
    {
      "latitud" : "385300N",
      "provincia" : "BADAJOZ",
      "altitud" : "185",
      "indicativo" : "4452",
      "nombre" : "BADAJOZ AEROPUERTO",
      "indsinop" : "08330",
      "longitud" : "064850W"
    },
    {
      "latitud" : "355319N",
      "provincia" : "CEUTA",
      "altitud" : "87",
      "indicativo" : "5000C",
      "nombre" : "CEUTA",
      "indsinop" : "60320",
      "longitud" : "052049W"
    },
    {
      "latitud" : "351635N",
      "provincia" : "MELILLA",
      "altitud" : "52",
      "indicativo" : "6000A",
      "nombre" : "MELILLA",
      "indsinop" : "60338",
      "longitud" : "025723W"
    },
    {
      "latitud" : "424637N",
      "provincia" : "NAVARRA",
      "altitud" : "459",
      "indicativo" : "9263D",
      "nombre" : "PAMPLONA, AEROPUERTO",
      "indsinop" : "08085",
      "longitud" : "013900W"
    }
  ]</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>mime-type</key>
<value>json</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>45 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>e7448ed0-7210-3824-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>1992.0</x>
                        <y>1848.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[
  // put as { 2022-04... :{} , 2022-04...: {}} 
  {
    "operation": "shift",
    "spec": {
      "*": "@(0,fint)"
    }
  },
  // sort by key (date) 
  {
    "operation": "sort"
  },
  // convert to {entities:[]}
  {
    "operation": "shift",
    "spec": {
      "*": "entities"
    }
  },
  {
    "operation": "modify-overwrite-beta",
    "spec": {
      // what is the length of the scores array
      "last": "=lastElement(@(1,entities))"
    }
  },
    // convert to array again []
  {
    "operation": "shift",
    "spec": {
      "last": "Ratings[#0]"
    }
  },
  {
    "operation": "shift",
    "spec": {
      "*": ""
    }
  },
  // modify values
  {
    "operation": "modify-overwrite-beta",
    "spec": {
      "*": {
        // Divide
        "hr": "=divide(@(1,hr), 100)",
        // Date format
        "fint_formatted": "=concat(@(1,fint), '.00Z')",
        // Low case
        "ubi_low": "=toLower(@(1,ubi))",
        // Element of array
        "element": "=intSum(@(1,numScores),2)",
        //"ubi_array": "=split(' ', @(1,ubi_low))",
        //"ubi_join": "=join('-', @(1,ubi_array))",
        "id": "=concat(urn:ngsi-ld:WeatherObserved:, @(1,idema), -1)"
      }
    }
  },
  // default values of all entities
  {
    "operation": "default",
    "spec": {
      "*": {
        "type": "WeatherObserved",
        "source": "http://www.aemet.es",
        "@context": ["https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld", "https://smart-data-models.github.io/dataModel.Weather/context.jsonld"]
      }
    }
  },
 	// generate entities
  // #2 levels up and put in an array
  {
    "operation": "shift",
    "spec": {
      "*": {
        "id": "[#2].id",
        "type": "[#2].type",
        "ubi": {
          "@": "[#3].address.value.addressLocality",
          "#ES": "[#3].address.value.addressCountry",
          "#PostalAddress": "[#3].address.value.type",
          "#Property": "[#3].address.type"
        },
        "pres": {
          "@": "[#3].atmosphericPressure.value",
          "#Property": "[#3].atmosphericPressure.type"
        },
        "source": {
          "@": "[#3].source.value",
          "#Property": "[#3].source.type"
        },
        "fint_formatted": {
          "@": "[#3].dateObserved.value.\\@value",
          "#DateTime": "[#3].dateObserved.value.\\@type",
          "#Property": "[#3].dateObserved.type"
        },
        "lon": {
          "#GeoProperty": "[#3].location.type",
          "#Point": "[#3].location.value.type",
          "@": "[#3].location.value.coordinates"
        },
        "lat": "[#2].location.value.coordinates",
        "alt": "[#2].location.value.coordinates",
        "prec": {
          "@": "[#3].precipitation.value",
          "#Property": "[#3].precipitation.type"
        },
        "vv": {
          "@": "[#3].windSpeed.value",
          "#Property": "[#3].windSpeed.type"
        },
        "vmax": {
          "@": "[#3].windSpeedMax.value",
          "#Property": "[#3].windSpeedMax.type"
        },
        "dv": {
          "@": "[#3].windDirection.value",
          "#Property": "[#3].windDirection.type"
        },
        "dmax": {
          "@": "[#3].windDirectionMax.value",
          "#Property": "[#3].windDirectionMax.type"
        },
        "hr": {
          "@": "[#3].relativeHumidity.value",
          "#Property": "[#3].relativeHumidity.type"
        },
        "ta": {
          "@": "[#3].temperature.value",
          "#Property": "[#3].temperature.type"
        },
        "tamin": {
          "@": "[#3].temperatureMin.value",
          "#Property": "[#3].temperatureMin.type"
        },
        "tamax": {
          "@": "[#3].temperatureMax.value",
          "#Property": "[#3].temperatureMax.type"
        },
        "idema": {
          "@": "[#3].stationCode.value",
          "#Property": "[#3].stationCode.type"
        },
        "\\@context": "[#2].\\@context"
      }
    }
  }
]
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>eff5433c-6f2d-36c9-0000-000000000000</id>
                    <parentGroupId>c2769c80-af87-32dd-0000-000000000000</parentGroupId>
                    <position>
                        <x>2388.4660623337218</x>
                        <y>1671.2601567704057</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>
    <name>idle-timeout</name>
</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>
    <name>max-idle-connections</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>
    <name>disable-http2</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Useragent</key>
<value>
    <name>Useragent</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>
    <name>ignore-response-content</name>
</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
<value>
    <name>form-body-form-name</name>
</value>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>
    <name>set-form-filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>${station_datos_url}</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>5 mins</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>5</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>False</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Useragent</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>false</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>30 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeHTTP</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Aemet</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>01/08/2023 20:18:19 UTC</timestamp>
</template>
