draco/templates/cei-moncloa-flow.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>MQTT to NGSI-LD then push to Orion-ld and then to CKAN</description>
    <groupId>77765c03-0184-1000-8d9a-a01d0619828b</groupId>
    <name>cei-moncloa-flow</name>
    <snippet>
        <controllerServices>
            <id>1b31e670-8b24-37ee-0000-000000000000</id>
            <parentGroupId>1c1624c3-f8c6-376d-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>
                        <name>avro-reg-validated-field-names</name>
                    </value>
                </entry>
                <entry>
                    <key>wifi</key>
                    <value>
                        <name>wifi</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroSchemaRegistry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>wifi</key>
                    <value>{ "type":"record",
  "name":"wifi",
  "fields":[
   { "name": "tstamp", "type":["null","string"]},
   { "name": "count", "type":["null","string"]},
   { "name": "in", "type":["null","string"]},
   { "name": "out", "type":["null","string"]},
   { "name": "net", "type":["null","string"]},
   { "name": "conn", "type":["null","string"]},
   { "name": "person", "type":["null","string"]},
   { "name": "pconc", "type":["null","string"]},
   { "name": "machines", "type":["null","string"]},
   { "name": "mconn", "type":["null","string"]},
   { "name": "packets", "type":["null","string"]},
   { "name": "bytes", "type":["null","string"]}
  ]
}</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
        </controllerServices>
        <controllerServices>
            <id>2d83fc8c-b807-3ec1-0000-000000000000</id>
            <parentGroupId>1c1624c3-f8c6-376d-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>1b31e670-8b24-37ee-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>d32fd4a5-a13e-3561-0000-000000000000</id>
            <parentGroupId>1c1624c3-f8c6-376d-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>
                        <name>csv-reader-csv-parser</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>
                        <name>Skip Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>
                        <name>ignore-csv-header</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>
                        <dependencies>
                            <dependentValues>custom</dependentValues>
                            <propertyName>CSV Format</propertyName>
                        </dependencies>
                        <name>csvutils-allow-duplicate-header-names</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>1b31e670-8b24-37ee-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>commons-csv</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>,</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>\n</value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>"</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
                <entry>
                    <key>csvutils-allow-duplicate-header-names</key>
                    <value>true</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVReader</type>
        </controllerServices>
        <processGroups>
            <id>b01bf817-a457-3c5f-0000-000000000000</id>
            <parentGroupId>1c1624c3-f8c6-376d-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>00f5cdc6-4d6b-3656-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>e843b309-1c14-36d5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>ada0e579-2d78-3489-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2666311a-223e-38f4-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>2b8d8cc3-c57f-36f8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>d1ff1505-e01c-37ef-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2dc9d0d0-97c2-3166-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>3d01b976-39de-339a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>cd133fc6-3ef4-398a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>37ea7514-22ea-3167-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>9a06069c-e7dd-386d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>c77b6d8d-e0d9-3b46-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3f079b90-7016-3938-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>2cfa38bd-429c-3349-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>35e3f77a-101b-3d73-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4d132fe7-d9ea-3570-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>6404b3a1-4aed-3abb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>e843b309-1c14-36d5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>85119517-2298-33c6-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>cd133fc6-3ef4-398a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>2cfa38bd-429c-3349-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>934d7e4e-2cf6-326d-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>954c5266-d5e7-3b51-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>6404b3a1-4aed-3abb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>98cb4c3c-9258-3469-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>08b506f8-172e-37d7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Success</selectedRelationships>
                    <source>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>2b8d8cc3-c57f-36f8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9b0d2f32-0dba-3686-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>446c3e25-a84e-3b41-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <selectedRelationships>Original</selectedRelationships>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>3d01b976-39de-339a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d2f37058-9b05-30fe-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>c77b6d8d-e0d9-3b46-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Message</selectedRelationships>
                    <source>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>8270e4de-c0ab-3f17-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d89f2eba-a516-3dce-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>35e3f77a-101b-3d73-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>7a2d5922-cd4e-3fbd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ed561e62-21ab-35fc-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>d1ff1505-e01c-37ef-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>6404b3a1-4aed-3abb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fd11ea79-ae54-3318-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>7a2d5922-cd4e-3fbd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>b01bf817-a457-3c5f-0000-000000000000</groupId>
                        <id>9a06069c-e7dd-386d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>08b506f8-172e-37d7-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <position>
                        <x>2864.0</x>
                        <y>3688.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-ngsi-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>2.1.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>CKAN Host</key>
<value>
    <name>CKAN Host</name>
</value>
                            </entry>
                            <entry>
<key>CKAN Port</key>
<value>
    <name>CKAN Port</name>
</value>
                            </entry>
                            <entry>
<key>CKAN Viewer</key>
<value>
    <name>CKAN Viewer</name>
</value>
                            </entry>
                            <entry>
<key>CKAN API Key</key>
<value>
    <name>CKAN API Key</name>
</value>
                            </entry>
                            <entry>
<key>ORION URL</key>
<value>
    <name>ORION URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL</key>
<value>
    <name>SSL</name>
</value>
                            </entry>
                            <entry>
<key>ngsi-version</key>
<value>
    <name>ngsi-version</name>
</value>
                            </entry>
                            <entry>
<key>data-model</key>
<value>
    <name>data-model</name>
</value>
                            </entry>
                            <entry>
<key>attr-persistence</key>
<value>
    <name>attr-persistence</name>
</value>
                            </entry>
                            <entry>
<key>default-service</key>
<value>
    <name>default-service</name>
</value>
                            </entry>
                            <entry>
<key>default-service-path</key>
<value>
    <name>default-service-path</name>
</value>
                            </entry>
                            <entry>
<key>create-datastore</key>
<value>
    <name>create-datastore</name>
</value>
                            </entry>
                            <entry>
<key>enable-encoding</key>
<value>
    <name>enable-encoding</name>
</value>
                            </entry>
                            <entry>
<key>enable-lowercase</key>
<value>
    <name>enable-lowercase</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Max Connections</key>
<value>
    <name>Max Connections</name>
</value>
                            </entry>
                            <entry>
<key>Max Connections per Route</key>
<value>
    <name>Max Connections per Route</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>CKAN Host</key>
<value>ckan</value>
                            </entry>
                            <entry>
<key>CKAN Port</key>
<value>80</value>
                            </entry>
                            <entry>
<key>CKAN Viewer</key>
<value>recline_view</value>
                            </entry>
                            <entry>
<key>CKAN API Key</key>
<value>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOiJzczQyVGZEVC14Ny1fcDlpY0xKNjN4ckZ6a09TbEQ2VUFHZkp3RFlUZjR1ZkJwWFphMHhjeTE5dFNNNzZ2X0NXaXpnN1IzdnF1dW9CbHVKViIsImlhdCI6MTY2ODQ2NTg5Mn0.xsyib-0xWjUTF8J7d7giGT6L5bOMsztGaBnkazA-y0Y</value>
                            </entry>
                            <entry>
<key>ORION URL</key>
<value> http://orion:1026</value>
                            </entry>
                            <entry>
<key>SSL</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ngsi-version</key>
<value>ld</value>
                            </entry>
                            <entry>
<key>data-model</key>
<value>db-by-entity</value>
                            </entry>
                            <entry>
<key>attr-persistence</key>
<value>column</value>
                            </entry>
                            <entry>
<key>default-service</key>
<value>test</value>
                            </entry>
                            <entry>
<key>default-service-path</key>
<value>/path</value>
                            </entry>
                            <entry>
<key>create-datastore</key>
<value>false</value>
                            </entry>
                            <entry>
<key>enable-encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>enable-lowercase</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Max Connections</key>
<value>500</value>
                            </entry>
                            <entry>
<key>Max Connections per Route</key>
<value>100</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>NGSIToCKAN</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.ngsi.NGSIToCKAN</type>
                </processors>
                <processors>
                    <id>2b8d8cc3-c57f-36f8-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <position>
                        <x>2856.0</x>
                        <y>3440.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-ngsi-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>2.1.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>organizationName</key>
<value>
    <name>organizationName</name>
</value>
                            </entry>
                            <entry>
<key>organizationType</key>
<value>
    <name>organizationType</name>
</value>
                            </entry>
                            <entry>
<key>packageDescription</key>
<value>
    <name>packageDescription</name>
</value>
                            </entry>
                            <entry>
<key>packageName</key>
<value>
    <name>packageName</name>
</value>
                            </entry>
                            <entry>
<key>contactPoint</key>
<value>
    <name>contactPoint</name>
</value>
                            </entry>
                            <entry>
<key>contactName</key>
<value>
    <name>contactName</name>
</value>
                            </entry>
                            <entry>
<key>contactEmail</key>
<value>
    <name>contactEmail</name>
</value>
                            </entry>
                            <entry>
<key>keywords</key>
<value>
    <name>keywords</name>
</value>
                            </entry>
                            <entry>
<key>publisherURL</key>
<value>
    <name>publisherURL</name>
</value>
                            </entry>
                            <entry>
<key>spatialURI</key>
<value>
    <name>spatialURI</name>
</value>
                            </entry>
                            <entry>
<key>spatialCoverage</key>
<value>
    <name>spatialCoverage</name>
</value>
                            </entry>
                            <entry>
<key>temporalStart</key>
<value>
    <name>temporalStart</name>
</value>
                            </entry>
                            <entry>
<key>temporalEnd</key>
<value>
    <name>temporalEnd</name>
</value>
                            </entry>
                            <entry>
<key>themes</key>
<value>
    <name>themes</name>
</value>
                            </entry>
                            <entry>
<key>version</key>
<value>
    <name>version</name>
</value>
                            </entry>
                            <entry>
<key>landingPage</key>
<value>
    <name>landingPage</name>
</value>
                            </entry>
                            <entry>
<key>visibility</key>
<value>
    <name>visibility</name>
</value>
                            </entry>
                            <entry>
<key>datasetRights</key>
<value>
    <name>datasetRights</name>
</value>
                            </entry>
                            <entry>
<key>accessURL</key>
<value>
    <name>accessURL</name>
</value>
                            </entry>
                            <entry>
<key>availability</key>
<value>
    <name>availability</name>
</value>
                            </entry>
                            <entry>
<key>resourceDescription</key>
<value>
    <name>resourceDescription</name>
</value>
                            </entry>
                            <entry>
<key>format</key>
<value>
    <name>format</name>
</value>
                            </entry>
                            <entry>
<key>mimetype</key>
<value>
    <name>mimetype</name>
</value>
                            </entry>
                            <entry>
<key>license</key>
<value>
    <name>license</name>
</value>
                            </entry>
                            <entry>
<key>licenseType</key>
<value>
    <name>licenseType</name>
</value>
                            </entry>
                            <entry>
<key>downloadURL</key>
<value>
    <name>downloadURL</name>
</value>
                            </entry>
                            <entry>
<key>byteSize</key>
<value>
    <name>byteSize</name>
</value>
                            </entry>
                            <entry>
<key>resourceName</key>
<value>
    <name>resourceName</name>
</value>
                            </entry>
                            <entry>
<key>resourceRights</key>
<value>
    <name>resourceRights</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>organizationName</key>
<value>CEI MONCLOA</value>
                            </entry>
                            <entry>
<key>organizationType</key>
<value>http://purl.org/adms/publishertype/Academia-ScientificOrganisation</value>
                            </entry>
                            <entry>
<key>packageDescription</key>
<value>Densidad de equipos y poblacin en ${entity_place} del centro ${entity_centre} (Madrid).</value>
                            </entry>
                            <entry>
<key>packageName</key>
<value>densidad ${entity_centre} ${entity_id_simple}</value>
                            </entry>
                            <entry>
<key>contactPoint</key>
<value>https://yoda.dit.upm.es/</value>
                            </entry>
                            <entry>
<key>contactName</key>
<value>yoda</value>
                            </entry>
                            <entry>
<key>contactEmail</key>
                            </entry>
                            <entry>
<key>keywords</key>
<value>densidad,ocupacion</value>
                            </entry>
                            <entry>
<key>publisherURL</key>
<value>https://yoda.dit.upm.es/</value>
                            </entry>
                            <entry>
<key>spatialURI</key>
<value>http://publications.europa.eu/resource/authority/place/ESP_MAD</value>
                            </entry>
                            <entry>
<key>spatialCoverage</key>
                            </entry>
                            <entry>
<key>temporalStart</key>
<value>2022-11-01T00:00:00Z</value>
                            </entry>
                            <entry>
<key>temporalEnd</key>
<value>2032-01-01T00:00:00Z</value>
                            </entry>
                            <entry>
<key>themes</key>
<value>http://publications.europa.eu/resource/authority/data-theme/SOCI</value>
                            </entry>
                            <entry>
<key>version</key>
<value>1.0</value>
                            </entry>
                            <entry>
<key>landingPage</key>
<value>https://yoda.dit.upm.es/</value>
                            </entry>
                            <entry>
<key>visibility</key>
<value>public</value>
                            </entry>
                            <entry>
<key>datasetRights</key>
<value>http://publications.europa.eu/resource/authority/access-right/PUBLIC</value>
                            </entry>
                            <entry>
<key>accessURL</key>
<value>http://broker-yoda.dit.upm.es/ngsi-ld/v1/entities/${entity_id}</value>
                            </entry>
                            <entry>
<key>availability</key>
<value>http://data.europa.eu/r5r/availability/available</value>
                            </entry>
                            <entry>
<key>resourceDescription</key>
<value>Densidad de equipos y poblacin en ${entity_place} del centro ${entity_centre} (Madrid).</value>
                            </entry>
                            <entry>
<key>format</key>
<value>JSON_LD</value>
                            </entry>
                            <entry>
<key>mimetype</key>
<value>application/ld+json</value>
                            </entry>
                            <entry>
<key>license</key>
<value>http://publications.europa.eu/resource/authority/licence/CC_BY_4_0</value>
                            </entry>
                            <entry>
<key>licenseType</key>
<value>http://purl.org/adms/licencetype/PublicDomain</value>
                            </entry>
                            <entry>
<key>downloadURL</key>
<value>http://broker-yoda.dit.upm.es/ngsi-ld/v1/entities/${entity_id}</value>
                            </entry>
                            <entry>
<key>byteSize</key>
<value>1300</value>
                            </entry>
                            <entry>
<key>resourceName</key>
<value>${entity_id}</value>
                            </entry>
                            <entry>
<key>resourceRights</key>
<value>http://publications.europa.eu/resource/authority/access-right/PUBLIC</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateCkanMetadataAttributes</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.ngsi.UpdateCkanMetadataAttributes</type>
                </processors>
                <processors>
                    <id>2cfa38bd-429c-3349-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1984.0</x>
                        <y>2792.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>id</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AddEntityId</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
                <processors>
                    <id>35e3f77a-101b-3d73-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <position>
                        <x>2440.0</x>
                        <y>2784.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>id</key>
<value>
    <name>id</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>id</key>
<value>${mqtt.topic:substring(5,22):replace(':','-'):prepend('urn:ngsi-ld:wifi:') }</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>3d01b976-39de-339a-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <position>
                        <x>2416.0</x>
                        <y>3000.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>
    <name>idle-timeout</name>
</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>
    <name>max-idle-connections</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>
    <name>disable-http2</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Useragent</key>
<value>
    <name>Useragent</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>
    <name>ignore-response-content</name>
</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
<value>
    <name>form-body-form-name</name>
</value>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>
    <name>set-form-filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>POST</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>http://orion:1026/ngsi-ld/v1/entityOperations/upsert</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>5 mins</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>5</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>False</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Useragent</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>application/ld+json</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>false</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateEntityOrionLD</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>446c3e25-a84e-3b41-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <position>
                        <x>2808.0</x>
                        <y>2960.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>6404b3a1-4aed-3abb-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <position>
                        <x>2432.0</x>
                        <y>3232.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>entity_centre</key>
<value>
    <name>entity_centre</name>
</value>
                            </entry>
                            <entry>
<key>entity_id</key>
<value>
    <name>entity_id</name>
</value>
                            </entry>
                            <entry>
<key>entity_place</key>
<value>
    <name>entity_place</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to 'match' if all match</value>
                            </entry>
                            <entry>
<key>entity_centre</key>
<value>${entity_centre:isEmpty():not()}</value>
                            </entry>
                            <entry>
<key>entity_id</key>
<value>${entity_id:isEmpty():not()}</value>
                            </entry>
                            <entry>
<key>entity_place</key>
<value>${entity_place:isEmpty():not()}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>7a2d5922-cd4e-3fbd-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <position>
                        <x>2816.0</x>
                        <y>2768.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>entity</key>
<value>
    <name>entity</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>entity</key>
<value>$.[1:]</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExtractJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>8270e4de-c0ab-3f17-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1992.0</x>
                        <y>2592.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mqtt-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Broker URI</key>
<value>
    <name>Broker URI</name>
</value>
                            </entry>
                            <entry>
<key>Client ID</key>
<value>
    <name>Client ID</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Topic</key>
<value>
    <name>Last Will Topic</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Message</key>
<value>
    <name>Last Will Message</name>
</value>
                            </entry>
                            <entry>
<key>Last Will Retain</key>
<value>
    <name>Last Will Retain</name>
</value>
                            </entry>
                            <entry>
<key>Last Will QoS Level</key>
<value>
    <name>Last Will QoS Level</name>
</value>
                            </entry>
                            <entry>
<key>Session state</key>
<value>
    <name>Session state</name>
</value>
                            </entry>
                            <entry>
<key>MQTT Specification Version</key>
<value>
    <name>MQTT Specification Version</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout (seconds)</key>
<value>
    <name>Connection Timeout (seconds)</name>
</value>
                            </entry>
                            <entry>
<key>Keep Alive Interval (seconds)</key>
<value>
    <name>Keep Alive Interval (seconds)</name>
</value>
                            </entry>
                            <entry>
<key>Group ID</key>
<value>
    <name>Group ID</name>
</value>
                            </entry>
                            <entry>
<key>Topic Filter</key>
<value>
    <name>Topic Filter</name>
</value>
                            </entry>
                            <entry>
<key>Quality of Service(QoS)</key>
<value>
    <name>Quality of Service(QoS)</name>
</value>
                            </entry>
                            <entry>
<key>Max Queue Size</key>
<value>
    <name>Max Queue Size</name>
</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>add-attributes-as-fields</key>
<value>
    <name>add-attributes-as-fields</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Broker URI</key>
<value>tcp://ceiboard.dit.upm.es:1883</value>
                            </entry>
                            <entry>
<key>Client ID</key>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Last Will Topic</key>
                            </entry>
                            <entry>
<key>Last Will Message</key>
                            </entry>
                            <entry>
<key>Last Will Retain</key>
                            </entry>
                            <entry>
<key>Last Will QoS Level</key>
                            </entry>
                            <entry>
<key>Session state</key>
<value>true</value>
                            </entry>
                            <entry>
<key>MQTT Specification Version</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Connection Timeout (seconds)</key>
<value>30</value>
                            </entry>
                            <entry>
<key>Keep Alive Interval (seconds)</key>
<value>60</value>
                            </entry>
                            <entry>
<key>Group ID</key>
                            </entry>
                            <entry>
<key>Topic Filter</key>
<value>WIFI/+/SUM</value>
                            </entry>
                            <entry>
<key>Quality of Service(QoS)</key>
<value>0</value>
                            </entry>
                            <entry>
<key>Max Queue Size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>record-reader</key>
                            </entry>
                            <entry>
<key>record-writer</key>
                            </entry>
                            <entry>
<key>add-attributes-as-fields</key>
<value>true</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConsumeMQTT</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Message</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>parse.failure</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.mqtt.ConsumeMQTT</type>
                </processors>
                <processors>
                    <id>954c5266-d5e7-3b51-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1976.0</x>
                        <y>3216.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>9a06069c-e7dd-386d-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <position>
                        <x>2808.0</x>
                        <y>2592.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>d32fd4a5-a13e-3561-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>2d83fc8c-b807-3ec1-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Transform CSV to JSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                </processors>
                <processors>
                    <id>ada0e579-2d78-3489-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <position>
                        <x>2472.0</x>
                        <y>3440.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Base Path</key>
<value>
    <name>Base Path</name>
</value>
                            </entry>
                            <entry>
<key>Listening Port</key>
<value>
    <name>Listening Port</name>
</value>
                            </entry>
                            <entry>
<key>health-check-port</key>
<value>
    <name>health-check-port</name>
</value>
                            </entry>
                            <entry>
<key>Max Data to Receive per Second</key>
<value>
    <name>Max Data to Receive per Second</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>client-authentication</key>
<value>
    <dependencies>
        <propertyName>SSL Context Service</propertyName>
    </dependencies>
    <name>client-authentication</name>
</value>
                            </entry>
                            <entry>
<key>Authorized DN Pattern</key>
<value>
    <name>Authorized DN Pattern</name>
</value>
                            </entry>
                            <entry>
<key>authorized-issuer-dn-pattern</key>
<value>
    <name>authorized-issuer-dn-pattern</name>
</value>
                            </entry>
                            <entry>
<key>Max Unconfirmed Flowfile Time</key>
<value>
    <name>Max Unconfirmed Flowfile Time</name>
</value>
                            </entry>
                            <entry>
<key>HTTP Headers to receive as Attributes (Regex)</key>
<value>
    <name>HTTP Headers to receive as Attributes (Regex)</name>
</value>
                            </entry>
                            <entry>
<key>Return Code</key>
<value>
    <name>Return Code</name>
</value>
                            </entry>
                            <entry>
<key>multipart-request-max-size</key>
<value>
    <name>multipart-request-max-size</name>
</value>
                            </entry>
                            <entry>
<key>multipart-read-buffer-size</key>
<value>
    <name>multipart-read-buffer-size</name>
</value>
                            </entry>
                            <entry>
<key>max-thread-pool-size</key>
<value>
    <name>max-thread-pool-size</name>
</value>
                            </entry>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <dependencies>
        <propertyName>record-reader</propertyName>
    </dependencies>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Base Path</key>
<value>ld/notify/wifi</value>
                            </entry>
                            <entry>
<key>Listening Port</key>
<value>5052</value>
                            </entry>
                            <entry>
<key>health-check-port</key>
                            </entry>
                            <entry>
<key>Max Data to Receive per Second</key>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>client-authentication</key>
<value>AUTO</value>
                            </entry>
                            <entry>
<key>Authorized DN Pattern</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>authorized-issuer-dn-pattern</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Max Unconfirmed Flowfile Time</key>
<value>60 secs</value>
                            </entry>
                            <entry>
<key>HTTP Headers to receive as Attributes (Regex)</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Return Code</key>
<value>200</value>
                            </entry>
                            <entry>
<key>multipart-request-max-size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>multipart-read-buffer-size</key>
<value>512 KB</value>
                            </entry>
                            <entry>
<key>max-thread-pool-size</key>
<value>200</value>
                            </entry>
                            <entry>
<key>record-reader</key>
                            </entry>
                            <entry>
<key>record-writer</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ListenHTTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ListenHTTP</type>
                </processors>
                <processors>
                    <id>c77b6d8d-e0d9-3b46-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <position>
                        <x>2416.0</x>
                        <y>2592.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>
    <name>schema.name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>wifi</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Add Schema Name Attribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>cd133fc6-3ef4-398a-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1976.0</x>
                        <y>2984.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[
  {
    "operation": "modify-overwrite-beta",
    "spec": {
      "*": {
        "count": ["=toInteger", 0],
        "in": ["=toInteger", 0],
        "out": ["=toInteger", 0],
        "net": ["=toInteger", 0],
        "conn": ["=toInteger", 0],
        "person": ["=toInteger", 0],
        "pconc": ["=toInteger", 0],
        "machines": ["=toInteger", 0],
        "mconn": ["=toInteger", 0],
        "packets": ["=toInteger", 0],
        "bytes": ["=toInteger", 0]
      }
    }
  },

  {
    "operation": "default",
    "spec": {
      "*": {
        "@context": ["https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld"],
        "id": "${id}",
        "address": {
          "type": "Property",
          "value": {
            "addressLocality": "MADRID",
            "addressCountry": "ESP",
            "type": "PostalAddress"
          }
        },
        "urn:ngsi-ld:wifi:b8-27-eb-75-b6-99": { "place": "Entrada Principal edificio B, calle Juan XXII", "centre": "Rectorado UPM" },
        "urn:ngsi-ld:wifi:b8-27-eb-49-6a-39": { "place": "Entrada secundaria planta -1, parking edificio A", "centre": "Rectorado UPM" },
        "urn:ngsi-ld:wifi:b8-27-eb-57-71-16": { "place": "Esquina GATE edificio A, trfico", "centre": "Rectorado UPM" },
        "urn:ngsi-ld:wifi:b8-27-eb-9b-de-9c": { "place": "Entada Principal edificio A, calle Ramiro de Maeztu", "centre": "Rectorado UPM" },
        "urn:ngsi-ld:wifi:00-06-66-23-31-24": { "place": "GATE", "centre": "Rectorado UPM" },
        "urn:ngsi-ld:wifi:00-06-66-22-a6-fa": { "place": "", "centre": "Rectorado UPM" },
        "urn:ngsi-ld:wifi:b8-27-eb-79-68-2c": { "place": "Entrada principal A", "centre": "ETSI de Telecomunicacin" },
        "urn:ngsi-ld:wifi:b8-27-eb-e5-79-a3": { "place": "Biblioteca", "centre": "ETSI de Telecomunicacin" },
        "urn:ngsi-ld:wifi:b8-27-eb-c6-94-ab": { "place": "Mesas", "centre": "ETSI de Telecomunicacin" },
        "urn:ngsi-ld:wifi:b8-27-eb-a8-4c-66": { "place": "Entrada secundaria A (paso hacia las Bs)", "centre": "ETSI de Telecomunicacin" },
        "urn:ngsi-ld:wifi:b8-27-eb-73-cc-00": { "place": "Entrada C", "centre": "ETSI de Telecomunicacin" },
        "urn:ngsi-ld:wifi:b8-27-eb-80-52-4b": { "place": "Entrada D", "centre": "ETSI de Telecomunicacin" },
        "urn:ngsi-ld:wifi:b8-27-eb-5a-cf-77": { "place": "Entrada B principal", "centre": "ETSI de Telecomunicacin" },
        "urn:ngsi-ld:wifi:b8-27-eb-15-25-29": { "place": "Entrada B (paso de A a las Bs)", "centre": "ETSI de Telecomunicacin" },
        "urn:ngsi-ld:wifi:b8-27-eb-5e-ab-ba": { "place": "Entrada B (paso hacia laboratorios)", "centre": "ETSI de Telecomunicacin" },
        "urn:ngsi-ld:wifi:00-06-66-23-31-25": { "place": "Biblioteca", "centre": "ETSI de Telecomunicacin" },
        "urn:ngsi-ld:wifi:00-06-66-23-31-22": { "place": "", "centre": "ETSI de Telecomunicacin" },
        "urn:ngsi-ld:wifi:b8-27-eb-49-5b-11": { "place": "Biblioteca", "centre": "ETSI Aeronutica y del Espacio" },
        "urn:ngsi-ld:wifi:b8-27-eb-ac-7c-bd": { "place": "Entrada A, principal", "centre": "ETSI Aeronutica y del Espacio" },
        "urn:ngsi-ld:wifi:b8-27-eb-e6-c2-05": { "place": "Entrada A, metro", "centre": "ETSI Aeronutica y del Espacio" },
        "urn:ngsi-ld:wifi:b8-27-eb-65-2c-64": { "place": "Entrada B, metro", "centre": "ETSI Aeronutica y del Espacio" },
        "urn:ngsi-ld:wifi:b8-27-eb-cb-0b-00": { "place": "Entrada B, Moncloa", "centre": "ETSI Aeronutica y del Espacio" },
        "urn:ngsi-ld:wifi:00-06-66-23-33-18": { "place": "", "centre": "ETSI Aeronutica y del Espacio" },
        "urn:ngsi-ld:wifi:00-06-66-23-31-e9": { "place": "", "centre": "ETSI Aeronutica y del Espacio" },
        "urn:ngsi-ld:wifi:b8-27-eb-0e-54-9c": { "place": "Consejera, entrada principal", "centre": "ETSI Navales" },
        "urn:ngsi-ld:wifi:b8-27-eb-8b-cf-f7": { "place": "Economa, trfico A6", "centre": "ETSI Navales" },
        "urn:ngsi-ld:wifi:b8-27-eb-e7-95-00": { "place": "Biblioteca", "centre": "ETSI Navales" },
        "urn:ngsi-ld:wifi:00-06-66-23-31-04": { "place": "", "centre": "ETSI Navales" },
        "urn:ngsi-ld:wifi:00-06-66-22-a6-f8": { "place": "", "centre": "ETSI Navales" },
        "urn:ngsi-ld:wifi:b8-27-eb-c6-67-ed": { "place": "Aulario", "centre": "ETSI Agrnomos" },
        "urn:ngsi-ld:wifi:b8-27-eb-d1-1e-2c": { "place": "Biblioteca", "centre": "ETSI Agrnomos" },
        "urn:ngsi-ld:wifi:b8-27-eb-4a-e8-34": { "place": "", "centre": "ETSI Agrnomos" },
        "urn:ngsi-ld:wifi:b8-27-eb-48-13-63": { "place": "Entrada edificio principal", "centre": "ETSI Agrnomos" },
        "urn:ngsi-ld:wifi:b8-27-eb-4b-ef-65": { "place": "Fsica, esquina de metro", "centre": "ETSI Agrnomos" },
        "urn:ngsi-ld:wifi:00-06-66-23-33-15": { "place": "Qumica, esquina de A6", "centre": "ETSI Agrnomos" },
        "urn:ngsi-ld:wifi:00-06-66-23-31-e6": { "place": "Biblioteca", "centre": "ETSI Agrnomos" },
        "urn:ngsi-ld:wifi:b8-27-eb-52-9e-2b": { "place": "", "centre": "ETSI Montes" },
        "urn:ngsi-ld:wifi:b8-27-eb-d9-ab-fb": { "place": "", "centre": "ETSI Montes" },
        "urn:ngsi-ld:wifi:b8-27-eb-72-08-79": { "place": "", "centre": "ETSI Montes" },
        "urn:ngsi-ld:wifi:b8-27-eb-02-09-f5": { "place": "", "centre": "ETSI Montes" },
        "urn:ngsi-ld:wifi:00-06-66-23-30-fb": { "place": "", "centre": "ETSI Montes" },
        "urn:ngsi-ld:wifi:00-06-66-23-31-11": { "place": "", "centre": "ETSI Montes" },
        "urn:ngsi-ld:wifi:b8-27-eb-93-1c-55": { "place": "", "centre": "ETSI Forestales" },
        "urn:ngsi-ld:wifi:b8-27-eb-8b-d9-4f": { "place": "Entrada Principal", "centre": "ETSI Forestales" },
        "urn:ngsi-ld:wifi:b8-27-eb-5e-44-30": { "place": "Entrada Secundaria", "centre": "ETSI Forestales" },
        "urn:ngsi-ld:wifi:00-06-66-23-31-13": { "place": "Biblioteca", "centre": "ETSI Forestales" },
        "urn:ngsi-ld:wifi:00-06-66-23-30-dd": { "place": "Biblioteca", "centre": "ETSI Forestales" },
        "urn:ngsi-ld:wifi:b8-27-eb-e5-f2-a5": { "place": "Entrada principal", "centre": "INEF" },
        "urn:ngsi-ld:wifi:b8-27-eb-4f-83-a8": { "place": "Cerca del pasillo, trfico", "centre": "INEF" },
        "urn:ngsi-ld:wifi:b8-27-eb-ab-06-47": { "place": "Biblioteca", "centre": "INEF" },
        "urn:ngsi-ld:wifi:00-06-66-23-30-ef": { "place": "", "centre": "INEF" },
        "urn:ngsi-ld:wifi:00-06-66-22-ef-c8": { "place": "Biblioteca", "centre": "INEF" },
        "urn:ngsi-ld:wifi:b8-27-eb-65-d0-e5": { "place": "Entrada prinicipal", "centre": "ETSI de Arquitectura" },
        "urn:ngsi-ld:wifi:b8-27-eb-c5-a7-f2": { "place": "Entrada metro", "centre": "ETSI de Arquitectura" },
        "urn:ngsi-ld:wifi:b8-27-eb-8f-7a-7a": { "place": "", "centre": "ETSI de Arquitectura" },
        "urn:ngsi-ld:wifi:b8-27-eb-dc-21-77": { "place": "", "centre": "ETSI de Arquitectura" },
        "urn:ngsi-ld:wifi:00-06-66-22-ef-cd": { "place": "", "centre": "ETSI de Arquitectura" },
        "urn:ngsi-ld:wifi:b8-27-eb-47-93-6f": { "place": "Entrada principal", "centre": "ETSI de Edificacin" },
        "urn:ngsi-ld:wifi:b8-27-eb-95-85-f5": { "place": "Biblioteca", "centre": "ETSI de Edificacin" },
        "urn:ngsi-ld:wifi:00-06-66-22-a6-f2": { "place": "Azotea", "centre": "ETSI de Edificacin" },
        "urn:ngsi-ld:wifi:00-06-66-23-31-12": { "place": "Biblioteca", "centre": "ETSI de Edificacin" },
        "urn:ngsi-ld:wifi:b8-27-eb-77-83-0c": { "place": "Entrada Principal", "centre": "ETSI Industriales" },
        "urn:ngsi-ld:wifi:b8-27-eb-ee-b6-91": { "place": "Entrada Aulario Sur", "centre": "ETSI Industriales" },
        "urn:ngsi-ld:wifi:b8-27-eb-a7-08-db": { "place": "Biblioteca", "centre": "ETSI Industriales" },
        "urn:ngsi-ld:wifi:b8-27-eb-0e-55-27": { "place": "Entrada Bar", "centre": "ETSI Industriales" },
        "urn:ngsi-ld:wifi:b8-27-eb-3a-68-58": { "place": "Edificio principal, cerca de la Cabina Jardn", "centre": "ETSI Industriales" },
        "urn:ngsi-ld:wifi:00-06-66-23-30-f9": { "place": "Biblioteca", "centre": "ETSI Industriales" },
        "urn:ngsi-ld:wifi:00-06-66-23-31-27": { "place": "", "centre": "ETSI Industriales" },
        "urn:ngsi-ld:wifi:b8-27-eb-7d-fe-75": { "place": "Entrada principal", "centre": "ETSI de Caminos" },
        "urn:ngsi-ld:wifi:b8-27-eb-19-26-0b": { "place": "Entrada parking", "centre": "ETSI de Caminos" },
        "urn:ngsi-ld:wifi:b8-27-eb-91-18-90": { "place": "Biblioteca", "centre": "ETSI de Caminos" },
        "urn:ngsi-ld:wifi:00-06-66-23-31-05": { "place": "Biblioteca", "centre": "ETSI de Caminos" },
        "urn:ngsi-ld:wifi:00-06-66-23-33-1c": { "place": "Exterior", "centre": "ETSI de Caminos" },
        "urn:ngsi-ld:wifi:b8-27-eb-29-00-30": { "place": "Biblioteca", "centre": "EUI Agrcola" },
        "urn:ngsi-ld:wifi:b8-27-eb-ff-0f-94": { "place": "Cafetera, esquina de A6", "centre": "EUI Agrcola" },
        "urn:ngsi-ld:wifi:b8-27-eb-d0-f3-63": { "place": "Entrada", "centre": "EUI Agrcola" },
        "urn:ngsi-ld:wifi:00-06-66-23-30-ff": { "place": "Exterior", "centre": "EUI Agrcola" },
        "urn:ngsi-ld:wifi:00-06-66-23-30-fd": { "place": "Biblioteca", "centre": "EUI Agrcola" }
      }
    }
  },
  {
    "operation": "shift",
    "spec": {
      "*": {
        "\\@context": "entities[0].\\@context",
        "#${id}": "entities[0].id",
        "#wifi": "entities[0].type",
        "tstamp": {
          "@": "entities[0].timestamp.value",
          "#Property": "entities[0].timestamp.type"
        },
        "count": {
          "@": "entities[0].count.value",
          "#Property": "entities[0].count.type"
        },
        "in": {
          "@": "entities[0].input.value",
          "#Property": "entities[0].input.type"
        },
        "out": {
          "@": "entities[0].output.value",
          "#Property": "entities[0].output.type"
        },
        "net": {
          "@": "entities[0].net.value",
          "#Property": "entities[0].net.type"
        },
        "conn": {
          "@": "entities[0].connected.value",
          "#Property": "entities[0].connected.type"
        },
        "person": {
          "@": "entities[0].person.value",
          "#Property": "entities[0].person.type"
        },
        "pconc": {
          "@": "entities[0].personConnected.value",
          "#Property": "entities[0].personConnected.type"
        },
        "machines": {
          "@": "entities[0].machines.value",
          "#Property": "entities[0].machines.type"
        },
        "mconn": {
          "@": "entities[0].machinesConnected.value",
          "#Property": "entities[0].machinesConnected.type"
        },
        "packets": {
          "@": "entities[0].packets.value",
          "#Property": "entities[0].packets.type"
        },
        "bytes": {
          "@": "entities[0].bytes.value",
          "#Property": "entities[0].bytes.type"
        },
        "address": "entities[0].address",
        // switch of location
        "${id}": {
          "centre": {
            "@": "entities[0].centre.value",
            "#Property": "entities[0].centre.type"
          },
          "place": {
            "@": "entities[0].place.value",
            "#Property": "entities[0].place.type"
          }
        }
      }
    }
  },
  {
    "operation": "shift",
    "spec": {
      "*": ""
    }
  }
]
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertJsonToNGSILD</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>d1ff1505-e01c-37ef-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <position>
                        <x>2832.0</x>
                        <y>3232.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>entity_id_simple</key>
<value>
    <name>entity_id_simple</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>entity_id_simple</key>
<value>${entity_id:substringAfterLast('urn:ngsi-ld:wifi:')}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>e843b309-1c14-36d5-0000-000000000000</id>
                    <parentGroupId>b01bf817-a457-3c5f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1968.0</x>
                        <y>3432.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.15.3</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>entity_centre</key>
<value>
    <name>entity_centre</name>
</value>
                            </entry>
                            <entry>
<key>entity_id</key>
<value>
    <name>entity_id</name>
</value>
                            </entry>
                            <entry>
<key>entity_place</key>
<value>
    <name>entity_place</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>json</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>entity_centre</key>
<value>$.data[0].centre.value</value>
                            </entry>
                            <entry>
<key>entity_id</key>
<value>$.data[0].id</value>
                            </entry>
                            <entry>
<key>entity_place</key>
<value>$.data[0].place.value</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>cei-moncloa-flow</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>11/24/2022 20:35:49 UTC</timestamp>
</template>
